body {
    margin: 0;
    font-family: 'Inter';
}

.col-3 {
    width: 33%;
}

.bg-green {
    background-color: #0FAE53;
}

.bg-yellow {
    background-color: #FFC700;
}

.bg-blue {
    background-color: #009EF7;
}

.bg-red {
    background-color: #D9214E;
}

.bg-purple {
    background-color: #884CB8;
}

.bg-pink {
    background-color: #ED58E7;
}

.items-center {
    align-items: center;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.p-3 {
    padding: 1rem !important;
}

img {
    max-width: 90%;
}

@media screen and (min-width: 575.98px) {

    .container {
        display: flex;
    }

    .container .container-bottom {
        height: 169px;
        font-size: 96px;
        font-weight: bold;
        width: 33.3333%;
    }

    .align-items-center {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .col-header {
        background: #F5F8FA;
    }

    .sidebar {
        width: 20%;
    }

    .wrapper {
        width: 80%;
    }

    .row {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .col-12 {
        display: flex;
        flex-direction: column;
    }


    .container-color {
        flex-wrap: wrap;
    }
}

@media (max-width: 575.97px) {
    .container {
        display: flex;
    }

    .col-header {
        flex-direction: column;
    }

    .sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .sidebar img {
        width: 50%;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container-bottom {
        display: flex;
        min-width: 50%;
        flex-wrap: wrap;
        height: 169px;
        font-size: 96px;
        font-weight: bold;
    }

    .container-color {
        flex-wrap: wrap;
    }

    .card-1 {
        order: 2;
        width: 50%;
    }

    .card-2 {
        order: 1;
        width: 50%;
    }

    .card-3 {
        order: 4;
        width: 50%;
    }

    .card-4 {
        order: 3;
        width: 50%;
    }

    .card-5 {
        order: 5;
        display: none;
    }

    .card-6 {
        order: 6;
        display: none;
    }
}